* {
    box-sizing: border-box;
}

:root {
    --white-key-color: #fff;
    --black-key-color: #252525;
    --accent-color: #ff6b6b;
    --primary-text-color: ;
}

html, body {
    width: 100%;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--white-key-color);
    font-family:'Gantari', sans-serif;
    font-weight: 400;
}

main {
    margin: 4vh 24vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    flex-basis: 2;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.5em;
}

p, a {
    text-decoration: none;
    padding: 0;
    background: transparent;
    color: inherit;
}

p {
    font-size: 2rem;
    line-height: 1.5em;
}

#home {
    height: max-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#piano {
    position: relative;
    height: 37rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#piano section {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: stretch;
}

#piano input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.white-key input[type="checkbox"]:checked + span, .black-key input[type="checkbox"]:checked + span {
    background: var(--accent-color);
    color: var(--white-key-color);
}

.white-key input[type="checkbox"]:checked + span {
    border-bottom: 0.025rem solid var(--white-key-color);
    border-left: 0.025rem solid var(--white-key-color);
    border-right: 0.025rem solid var(--white-key-color);
}

.white-key, .white-key span {
    border-radius: 0.75rem;
}

.white-key, .black-key {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    z-index: 1;
    cursor: pointer;
}

.white-key {
    background-color: var(--white-key-color);
    width: 100%;
    height: 100%;
    border-radius: 0.65rem;
    box-shadow: 0 0 0.12rem var(--black-key-color) inset;
    color: var(--black-key-color);
    font-size: 2rem;
}

.white-key span, .black-key span {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4vh;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.all-black-keys {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}

.black-key {
    background-color: var(--black-key-color);
    width: 5.25%;
    height: 61.5%;
    color: var(--white-key-color);
    font-size: 1.7rem;
    box-shadow: rgb(0,0,0,0.2) 0 0.2rem 0.4rem;
}

.black-key, .black-key span {
    border-radius: 0 0 0.65rem 0.65rem;
}

.black-key:nth-child(1), .black-key:nth-child(4), .black-key:nth-child(6), .black-key:nth-child(9)  {
    margin-left: 4.25%;
}

.black-key:nth-child(2),.black-key:nth-child(3), .black-key:nth-child(5), .black-key:nth-child(7), .black-key:nth-child(8), .black-key:nth-child(10) {
    margin-left: 2.25%;
}

.black-key:nth-child(3), .black-key:nth-child(5), .black-key:nth-child(8) {
    margin-right: 4.25%;
}

.form__button-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 44rem;
}

#submit-btn, #clear-btn {
    padding: 1.35rem 6rem;
    margin-top: 4rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 1.65rem;
    border-radius: 0.75rem;
    font-family: inherit;
    outline: none;
    border: 0.2rem solid var(--accent-color);
}

#submit-btn {
    background: var(--accent-color);
    color: var(--white-key-color);
}

#clear-btn {
    background: transparent;
    color: var(--accent-color);
}

#chords-list {
    content: "";
    border-radius: 1rem;
    width: 100%;
    height: 20rem;
    margin: 3rem 0;
    background: transparent;
    color: var(--black-key-color);
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-around;
}

#details {
    padding: 15rem 0 10rem;
}

#details div {
    padding: 1rem 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem 24vw;
    font-size: 1.5rem;
}