* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #eee;
    font-family:'Lato', sans-serif;
    font-weight: 400;
}

main {
    margin: 4vh 10vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5rem;

}

p, a {
    text-decoration: none;
    padding: 0;
    background: transparent;
    color: inherit;
}

#home {
    height: 90vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#piano {
    position: relative;
    height: 40rem;
    width: 83rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#piano section {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: stretch;
}

#piano input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.white-key input[type="checkbox"]:checked + span, .black-key input[type="checkbox"]:checked + span {
    background: #7f79d2;
    color: #ccc;
}

.white-key input[type="checkbox"]:checked + span {
    border: 0.075rem solid #ccc;
}

.black-key input[type="checkbox"]:checked + span {
    outline: 0.1rem solid #ccc;
}

.white-key, .white-key span {
    border-radius: 0.75rem;
}

.white-key:hover span, .black-key:hover span {
    background-color: rgb(127, 121, 210, 0.165);
}

.white-key, .black-key {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    z-index: 1;
    cursor: pointer;
}

.white-key {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 0 0.2rem #505050 inset;
    color: #252525;
    font-size: 2.25rem;
}

.white-key span, .black-key span {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4vh;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.all-black-keys {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}

.black-key {
    background-color: #252525;
    width: 5.25%;
    height: 61.5%;
    color: #cccccc;
    font-size: 1.9rem;
}

.black-key, .black-key span {
    border-radius: 0 0 0.75rem 0.75rem;
}

.black-key:nth-child(1), .black-key:nth-child(4), .black-key:nth-child(6), .black-key:nth-child(9)  {
    margin-left: 4.25%;
}

.black-key:nth-child(2),.black-key:nth-child(3), .black-key:nth-child(5), .black-key:nth-child(7), .black-key:nth-child(8), .black-key:nth-child(10) {
    margin-left: 2.25%;
}

.black-key:nth-child(3), .black-key:nth-child(5), .black-key:nth-child(8) {
    margin-right: 4.25%;
}

#submit-btn {
    background: #7f79d2;
    outline: none;
    border: transparent;
    padding: 1.5rem 7rem;
    margin-top: 4rem;
    border-radius: 0.1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    color: #f0f0f0;
    font-family: inherit;

}

#submit-btn:hover {
    opacity: 0.6;
}

.chord-sect {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 70rem;
    height: 25rem;
    border: 2px solid red;
    background: transparent;
    text-align: center;
    color: #505050;
}